body {
	display: block;
	width: 100%;
	background-image: url("../Images/fvc.png");
	background-repeat: repeat;
}

.heading {
	color: #F7F7F7;
	text-align: center;
	font-size: 256px;
	margin-bottom: 750px;
}

ul.navbar {
	margin-top: 800px;
	margin-right: -8px;
	background-color: #F7F7F7;
	float: right;
	padding-top: 10px;
	padding-bottom: 13px;
	-webkit-transform: rotate(90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(90deg);
    -o-transform-origin: right top;
    transform: rotate(90deg);
    transform-origin: right top;
}

li.navbar {
	list-style-type: none;
	font-size: 30px;
	text-align: center;
	float: right;
}

#title {
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	text-align: center;
	font-size: 128px;
	color: #000000;
	margin-top: 800px;
	margin-bottom: 200px;
	margin-left: 170px;
	margin-right: 560px;
	background-color: #F7F7F7;
}

#sc {
	margin-top: -120px;
	margin-bottom: -120px;
}

#footer {
	background-color: #F7F7F7;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: -8px;
	margin-right: -8px;
}

#footertext {
	font-size: 20px;
}